<!-- Footer -->
<footer th:fragment="footer" class="footer fixed-bottom">
  <div class="container text-white text-center">
    <p>&copy; 2024 Minha Aplicação. Todos os direitos reservados.</p>
  </div>
</footer>

<style>
  /* Estilos personalizados para o footer */
  .footer {
    background-color: #007bff; /* Cor de fundo do footer (azul) */
    color: #ffffff; /* Cor do texto do footer (branco) */
    padding: 5px 0; /* Espaçamento interno do footer */
    font-size: 14px; /* Tamanho da fonte do footer */
  }
</style>
